---
import AboutMe from "@/components/sections/AboutMe.astro";
import Layout from "../layouts/Layout.astro";
import Hero from "@/components/sections/Hero.astro";
import Projects from "@/components/sections/Projects.astro";
---

<Layout>
  <Hero />
  <div class="space-y-12 lg:space-y-24">
    <Projects />
    <AboutMe />
  </div>
</Layout>
